[Desktop Entry]
Name=GKraken
# TODO: We could include the full path here but Meson requires
#       newer GLib to generate files for GResource
TryExec=gkraken
Exec=gkraken --gapplication-service
Type=Application
NoDisplay=true
Name[en_US]=com.leinardi.gkraken.service.desktop
